/*------------------------------ General style for the header ------------------------------*/

header{
	max-height: 80px;
	background-color: #2e545f;
	display: flex;
    justify-content: space-between;
	align-items: center;
    position: fixed;
    top: 0;
    margin-top: 0px ;
    padding-top: 0;
}

/*----------------------------------- Style for the logo -----------------------------------*/

.logo{
	color: rgb(226,226,226);
	font-size: 25px;
	font-weight: bold;
    width: fit-content;
    height: fit-content;
}

/*---------------------------------- Style for the navbar ----------------------------------*/

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-left: 100px;
}

.navbar ul li a{
	color: rgb(226,226,226);
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    width: 100px;
    margin: 0px 5px;
    text-align: center;
    transition: 0.8s;
    border-radius: 50px;
    display: block;
}

.navbar ul li a:hover{
    color:#5D4954;
    background-color: rgb(226,226,226) ;
    text-decoration: underline;
}

.navbar ul li a.active{
    color:#5D4954;
    background-color: rgb(226,226,226);

}

#imgCart{
    width: 20px;
    height: 20px;
}

#cart:hover #imgCart{
    /*It makes the cart's color to seems like #5D4954 */
	filter: invert(28%) sepia(11%) saturate(787%) hue-rotate(274deg) brightness(60%) contrast(86%);
	
}

