/*Style for the product's category boxes*/

.categories .container{
    display: flex;
    color: #5D4954;
    align-items: center;
}

.categories h2{
    text-align: center;
}

.categories div{
    display: flex;
}
.boxCategory{

    border: 2px solid #5D4954;
    border-radius: 20%;
    color: #5D4954;
    width: 150px;
    height: 200px;
    margin: 10px 50px;
    align-items: center;
    vertical-align: middle;
}